<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Register</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">

    <div class="n2">

        <ion-text class="n1" color="warning">WorkIt</ion-text>

        <form (ngSubmit)="cadastrarUsuario()">
            <ion-item color="dark ">
                <ion-label position="floating " color="warning">Name*
                    <ion-text color="danger ">*</ion-text>
                </ion-label>
                <ion-input type="text" [(ngModel)]="usuario.nome" name="txtnome"></ion-input>
            </ion-item>

            <ion-item color="dark ">
                <ion-label position="floating " color="warning">e-mail:
                    <ion-text color="danger ">*</ion-text>
                </ion-label>
                <ion-input required type="e-mail" [(ngModel)]="usuario.email" name="txtemail"></ion-input>
            </ion-item>

            <ion-item color="dark ">
                <ion-label position="floating " color="warning">Password*
                    <ion-text color="danger ">*</ion-text>
                </ion-label>
                <ion-input type="password" [(ngModel)]="usuario.senha" name="txtsenha"></ion-input>
            </ion-item>



            <ion-button type="submit" fill='outline' expand="block" color="warning">Acessar</ion-button>


        </form>



    </div>

</ion-content>