<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-menu-button></ion-menu-button>
            <ion-back-button slot="">Back</ion-back-button>
        </ion-buttons>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color='dark'>
    <!-- <img position=" center " src="assets\logo_Workit.jpg " alt=" "> -->


    <div class="n2">

        <ion-text class="n1" color="warning">WorkIt</ion-text>


        <ion-item color="dark ">
            <ion-label position="floating " color="warning">Login:
                <ion-text color="danger ">*</ion-text>
            </ion-label>
            <ion-input required type="text "></ion-input>
        </ion-item>

        <ion-item color="dark ">
            <ion-label position="floating " color="warning">Password*
                <ion-text color="danger ">*</ion-text>
            </ion-label>
            <ion-input type="password"></ion-input>
        </ion-item>

        <ion-button fill="outline" expand="block" color="warning">Acessar</ion-button>
    </div>


</ion-content>