<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-menu-button></ion-menu-button>
            <ion-back-button slot="">Back</ion-back-button>
        </ion-buttons>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color='dark'>
    <!-- <img position=" center " src="assets\logo_Workit.jpg " alt=" "> -->


    <div class="n2">

        <ion-text class="n1" color="warning">WorkIt</ion-text>

        <form (ngSubmit)="loginUsuario()">

            <ion-item color="dark ">
                <ion-label position="floating " color="warning">e-mail*

                </ion-label>
                <ion-input required type="e-mail" [(ngModel)]="usuario.email" name="txtemail"></ion-input>
            </ion-item>

            <ion-item color="dark ">
                <ion-label position="floating " color="warning">Password*

                </ion-label>
                <ion-input type="password" [(ngModel)]="usuario.senha" name="txtsenha"></ion-input>
            </ion-item>



            <ion-button type="submit" fill='outline' expand="block" color="warning">Acessar</ion-button>


        </form>



    </div>


</ion-content>