<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-menu-button color="secondary"></ion-menu-button>

        </ion-buttons>

        <ion-title>Inicial</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color='dark'>
    <div class="n1">
        <ion-text color="warning">
            WorkIt
        </ion-text>
        <ion-button color="warning">Entrar na Sua Rede de Negocios </ion-button>
        <br>
        <ion-button color="warning">Cadastar-se na rede de Negocios </ion-button>

    </div>


</ion-content>