<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-menu-button color="secondary"></ion-menu-button>
        </ion-buttons>
        <ion-title>Inicial</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color='dark'>
    <div class="n1">
        <ion-text color="warning">
            WorkIt
        </ion-text>
        <ion-button fill="outline" color="warning">Entrar na Sua Rede de Negócios </ion-button>
        <br>
        <ion-button fill="outline" color="warning">Cadastar-se na rede de Negócios </ion-button>

    </div>


</ion-content>