<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-menu-button></ion-menu-button>
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Update Profile</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark" fullscreen>

    <nav class="n1">
        <ion-text color="warning">WorkIt</ion-text>
    </nav>


    <ion-button expand='block' fill="outline" color="warning" (click)="showScreen('screen-person-register')">
        <ion-icon slot="start" name="people-outline"></ion-icon> Person resgister</ion-button>

    <ion-button expand='block' fill="outline" color="warning" (click)="showScreen('screen-address-register')">
        <ion-icon slot="start" name="location-outline"></ion-icon> Address Register</ion-button>

    <ion-button expand='block' fill="outline" color='warning' (click)="showScreen('screen-professional-register')">
        <ion-icon slot="start" name="briefcase-outline"></ion-icon> Professional Register</ion-button>

    <ion-button expand='block' fill="outline" color="warning" (click)="showScreen('screen-bank-account-register')">
        <ion-icon slot="start" name="cash-outline"></ion-icon> Bank Account Registers</ion-button>


</ion-content>